.home__img {
  width: 60%;
}

.home__form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
}

.home__form__item {
  margin-bottom: 3px;
  font-size: 18px;;
}

form button:disabled, form
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

h1 {
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  .home__form__item {
    font-size: 14px;
  }
  .home {
    width: 95%;
  }
  h1 {
    font-size: 24px;
  }
}