body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  width: 70vw;
  height: 70vh;
  background-color:rgb(56, 4, 56);
  border: 15px grey solid;
  margin: auto;
  justify-content: center;  
  align-items: center;
  color: white;
}

button {
  background-color: yellow;
  border: solid pink solid;
  color:  black;
  cursor: pointer;
}

input {
  text-transform: uppercase;
}
